{#{% extends "base.html" %}#}
{#<head>#}
{#    <title>{% block title %}{% endblock %}</title>#}
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"#}
{#          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">#}
{#</head>#}
{##}
{#{% block content %}#}
{#    <div class="row d-flex justify-content-center align-self-center">#}
{#        <aside class="col-sm-4 align-self-center" style="margin-top: 250px;">#}
{#            <div class="card ">#}
{#                <article class="card-body align-middle">#}
{#                    <h4 class="card-title mb-4 mt-1 text-center">Sign in</h4>#}
{#                    <form action="{% url 'login' %}" method="post">#}
{#                        {% csrf_token %}#}
{#                        <input class="form-group form-control" required type="text" id="id_username" name="username"#}
{#                               placeholder="Username">#}
{#                        <input class="form-group form-control" required type="password" id="id_password" name="password"#}
{#                               placeholder="Password">#}
{#                        <input type="hidden" name="next" value="{{ next }}" />#}
{#                        <p><input type="submit" class="btn btn-primary float-right" value="Log-in"></p>#}
{#                    </form>#}
{#                </article>#}
{#            </div>#}
{#        </aside>#}
{#    </div>#}
{#{% endblock %}#}
{##}
