{#{% extends "base.html" %}#}
{##}
{#{% block content %}#}
{#    <h2>New schema</h2>#}
{#    <aside class="col-sm-6">#}
{#        <div>#}
{#            <form action="" method="POST">#}
{#                {% csrf_token %}#}
{#                <p><input type="submit" class="btn btn-primary float-right" value="Submit"></p>#}
{#                <div class="col-sm-7">#}
{#                    <label for="name_schema">Name</label>#}
{#                    <input class="form-group form-control" name="name" required type="text" id="name_schema"/>#}
{#                    <label for="column_separator">Column separator</label>#}
{#                    <select class="form-group form-control" name="column_separator" id="column_separator">#}
{#                        <option value=",">Comma (,)</option>#}
{#                        <option value=";">Semicolon (;)</option>#}
{#                    </select>#}
{#                    <label for="string_character">String character</label>#}
{#                    <select class="form-group form-control" name="string_character" id="string_character">#}
{#                        <option value="">Double-quote (")</option>#}
{#                        <option value="'">Single-quote (')</option>#}
{#                    </select>#}
{#                </div>#}
{#                <h3>Schema columns</h3>#}
{#                <div class="d-flex">#}
{#                    <table id="table-schema-columns">#}
{##}
{#                    </table>#}
{#                </div>#}
{#                <button class="btn btn-primary" onclick="addRow()">Add</button>#}
{#            </form>#}
{#        </div>#}
{#    </aside>#}
{#    <fieldset id="fieldset">#}
{#        <form method='POST' action=''>{% csrf_token %}#}
{#            <p>{{ voteTypeForm }}</p>#}
{#            <div id="placeholder">#}
{##}
{#            </div>#}
{#            <p>#}
{#                <button type="button" name="Submit" onclick="addRow();">+</button>#}
{#            </p>#}
{#            <input type='submit' value="create"/>#}
{#        </form>#}
{#    </fieldset>#}
{#    <h1>Add a new bird</h1>#}
{#    <form id="form-container" method="POST">#}
{#        {% csrf_token %}#}
{#        {{bird_formset.management_form}}#}
{#        {% for form in bird_formset %}#}
{#        <div class="bird-form">#}
{#        {{form.as_p}}#}
{#        </div>#}
{#        {% endfor %}#}
{#        <button id="add-form" type="button">Add Another Bird</button>#}
{#        <button type="submit">Create Birds</button>#}
{#    </form>#}
{##}
{##}
{#    <script>#}
{#        let birdForm = document.querySelectorAll(".bird-form")#}
{#        let container = document.querySelector("#form-container")#}
{#        let addButton = document.querySelector("#add-form")#}
{#        let totalForms = document.querySelector("#id_form-TOTAL_FORMS")#}
{##}
{#        let formNum = birdForm.length-1#}
{#        addButton.addEventListener('click', addForm)#}
{##}
{#        function addForm(e){#}
{#            e.preventDefault()#}
{##}
{#            let newForm = birdForm[0].cloneNode(true)#}
{#            let formRegex = RegExp(`form-(\\d){1}-`,'g')#}
{##}
{#            formNum++#}
{#            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)#}
{#            container.insertBefore(newForm, addButton)#}
{##}
{#            totalForms.setAttribute('value', `${formNum+1}`)#}
{#        }#}
{#    </script>#}
{#    <script type='text/javascript'>#}
{#        const counter = 0;#}
{#        var template = document.createTextNode('');#}
{##}
{#        function appendStringAsNodes(element, html) {#}
{#            let frag = document.createDocumentFragment(),#}
{#                tmp = document.createElement('body'), child;#}
{#            tmp.innerHTML = html;#}
{#            console.log('template - ', tmp.children)#}
{#            while (child = tmp.firstChild) {#}
{#                frag.appendChild(child);#}
{#            }#}
{#            element.appendChild(frag);#}
{#            element.insertAfter(frag);#}
{#            frag = tmp = null;#}
{##}
{#        function addRow() {#}
{#            var code = `#}
{#                    <thead>#}
{#                        <tr>#}
{#                            <th scope="col">Column Name</th>#}
{#                            <th scope="col">Type</th>#}
{#                            <th scope="col">Modified</th>#}
{#                            <th scope="col">Actions</th>#}
{#                        </tr>#}
{#                        </thead>#}
{#                        <tbody>#}
{#                        <tr>#}
{#                            <td>#}
{#                                <input class="form-group form-control" name="column_name" id="column_name" type="text">#}
{#                            </td>#}
{#                            <td>#}
{#                                <select class="form-group form-control" name="type" id="type">#}
{#                                    <option value="full_name">Full name</option>#}
{#                                    <option value="integer">Integer</option>#}
{#                                    <option value="company">Company</option>#}
{#                                </select>#}
{#                            </td>#}
{#                            <td>#}
{#                                <input class="form-group form-control" name="column_name" id="column_name" type="text">#}
{#                            </td>#}
{#                            <td>#}
{#                                <input class="form-group form-control" name="column_name" id="column_name" type="text">#}
{#                            </td>#}
{#                        </tr>#}
{#                        </tbody>#}
{#`#}
{#            const table = document.getElementById('table-schema-columns');#}
{#            const thead = document.createElement('thead');#}
{#            const tr1 = document.createElement('tr');#}
{#            const th1 = document.createElement('th');#}
{#            const th2 = document.createElement('th');#}
{#            const th3 = document.createElement('th');#}
{#            const th4 = document.createElement('th');#}
{#            const th5 = document.createElement('th');#}
{#            const th6 = document.createElement('th');#}
{#            const tbody = document.createElement('tbody')#}
{#            const tr2 = document.createElement('tr')#}
{#            const td1 = document.createElement('td');#}
{#            const input1 = document.createElement('input');#}
{#            const td2 = document.createElement('td');#}
{#            const select1 = document.createElement('select');#}
{#            const select1_option1 = document.createElement('option');#}
{#            const select1_option2 = document.createElement('option');#}
{#            const select1_option3 = document.createElement('option');#}
{#            const select1_option4 = document.createElement('option');#}
{#            const select1_option5 = document.createElement('option');#}
{#            const td3 = document.createElement('td');#}
{#            const td4 = document.createElement('td');#}
{#            const td5 = document.createElement('td');#}
{#            const input4 = document.createElement('input');#}
{#            const td6 = document.createElement('td');#}
{#            const button = document.createElement('button')#}
{#            table.appendChild(thead);#}
{#            thead.appendChild(tr1);#}
{#            tr1.appendChild(th1);#}
{#            tr1.appendChild(th2);#}
{#            tr1.appendChild(th3);#}
{#            tr1.appendChild(th4);#}
{#            tr1.appendChild(th5);#}
{#            tr1.appendChild(th6);#}
{#            table.appendChild(tbody);#}
{#            tbody.appendChild(tr2);#}
{#            tr2.appendChild(td1);#}
{#            td1.appendChild(input1);#}
{#            tr2.appendChild(td2)#}
{#            td2.appendChild(select1);#}
{#            select1.appendChild(select1_option1)#}
{#            select1.appendChild(select1_option2)#}
{#            select1.appendChild(select1_option3)#}
{#            select1.appendChild(select1_option4)#}
{#            select1.appendChild(select1_option5)#}
{#            tr2.appendChild(td3)#}
{#            tr2.appendChild(td4)#}
{#            tr2.appendChild(td5)#}
{#            td5.appendChild(input4);#}
{#            tr2.appendChild(td6);#}
{#            td6.appendChild(button);#}
{#            th1.innerHTML = '<th scope="col">Column Name</th>'#}
{#            th2.innerHTML = '<th scope="col">Type</th>'#}
{#            th3.innerHTML = '<th scope="col">From</th>'#}
{#            th3.style = 'visibility: hidden'#}
{#            th4.innerHTML = '<th scope="col">To</th>'#}
{#            th4.style = 'visibility: hidden'#}
{#            th5.innerHTML = '<th scope="col">Order</th>'#}
{#            th6.innerHTML = '<button>Delete</button>'#}
{#            th3.addEventListener()#}
{#            document.body.appendChild(table);#}
{##}
{#            this._counter++;#}
{#            appendStringAsNodes(document.getElementById("table-schema-columns"), code);#}
{#            document.getElementById("someInput").value = this._counter;#}
{#        }#}
{#    </script>#}
{##}
{#{% endblock %}#}
