{#{% extends "base.html" %}#}
{##}
{#{% block content %}#}
{#    <div class="col-sm-8 d-flex justify-content-between">#}
{#        <h3>Data schemas</h3>#}
{#        <a class="btn btn-success" href="create-schema/">New schema</a>#}
{#    </div>#}
{#    <table class="table col-sm-8 mt-2">#}
{#        <thead>#}
{#        <tr>#}
{#            <th scope="col">#</th>#}
{#            <th scope="col">Title</th>#}
{#            <th scope="col">Modified</th>#}
{#            <th scope="col">Actions</th>#}
{#        </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        {% for schema in schema_list %}#}
{#            <tr>#}
{#                <th scope="row">{{ schema.id }}</th>#}
{#                <td><a href="detail/{{ schema.id }}/">{{ schema.title }}</a></td>#}
{#                <td>{{ schema.created|date:"Y-m-d" }}</td>#}
{#                <td class="d-flex">#}
{#                    <a class="btn btn-info mr-1" href="edit/{{ schema.id }}/">Edit</a>#}
{#                    <form action='edit/{{ schema.id }}/' method='DELETE'>#}
{#                        <button class="btn btn-danger" type='submit'>Delete</button>#}
{#                    </form>#}
{#                </td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#        </tbody>#}
{#    </table>#}
{#{% endblock %}#}
