{#{% load static %}#}
{##}
{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{#    <title>{% block title %}Test project{% endblock %}</title>#}
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"#}
{#          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">#}
{#</head>#}
{#<body>#}
{#{% if request.user.is_authenticated %}#}
{#    <nav class="navbar navbar-expand-lg navbar-light bg-light">#}
{#    <a class="navbar-brand" href="/">FakeCSV</a>#}
{##}
{#    <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#        <ul class="navbar-nav mr-auto ">#}
{#            <li class="nav-item active ml-5">#}
{#                <a class="nav-link" href="#">Schemas<span class="sr-only">(current)</span></a>#}
{#            </li>#}
{#        </ul>#}
{#        <form class="form-inline my-2 my-lg-0">#}
{#        <span class="user" style="color: gray">#}
{#          {% if request.user.is_authenticated %}#}
{#              Hello <strong>{{ request.user.username }}</strong>#}
{#              <a style="color: gray" class="mr-2 ml-3" href="{% url "logout" %}">Logout</a>#}
{#          {% endif %}#}
{#        </span>#}
{#        </form>#}
{#    </div>#}
{#{% endif %}#}
{#</nav>#}
{#<div id="content" class="ml-2 mt-3">#}
{#    {% block content %}#}
{#    {% endblock %}#}
{#</div>#}
{#</body>#}
{#</html>#}
